<script>
    /* Change to base timezone first before changing to new timezone
    * to keep the (next day) logic consistent
    */
    function changeTimezoneFromBase(baseTimezone, toTimezone) {
        changeTimezone(baseTimezone);
        changeTimezone(toTimezone);
    }
    function changeTimezone(toTimezone) {
        var elems = document.getElementsByClassName("time");
        for (let i = 0; i < elems.length; i++) {
            const elem = elems[i];
            let fromTimezone = elem.dataset.timezone;
            if (fromTimezone === undefined) {
                fromTimezone = 'PST';
            }
            /*if (fromTimezone !== toTimezone) {*/
                const timeText = elem.innerHTML;
                let fromDateText = elem.dataset.date;
                if (!fromDateText)
                    fromDateText = "2020-04-13";
                /* conversion */
                const [validFromTimezone, utcOffset] = getValidTimezone(fromTimezone);
                const dateTimeString = reformatTimeString(timeText, fromDateText) + utcOffset;
                const [validToTimezone,offset] = getValidTimezone(toTimezone);
                const converted = new Date(dateTimeString).toLocaleString("en-GB", {timeZone: validToTimezone});
                /* check date of converted time and add (next day) string to result if +1 day */
                const convertedDateOnly = new Date(dateTimeString).toLocaleString("en-GB", {timeZone: validToTimezone, year:'numeric', month:'2-digit', day:'2-digit'});
                let toDateText = convertedDateOnly.split('/');
                toDateText = [toDateText[2], toDateText[1], toDateText[0]].join('-');
                const newTimeArray = converted.split(" ")[1].split(":");
                let newTime = newTimeArray[0] + ":" + newTimeArray[1];
                if (toDateText > fromDateText)
                    newTime += " (next day)";
                /* set new value */
                elem.innerHTML = newTime;
                elem.dataset.timezone = toTimezone;
                elem.dataset.date = toDateText;
            /*}*/
        }
    }
    function changeFormat() {
        const elems = document.getElementsByClassName("time");
        for (let i = 0; i < elems.length; i++) {
            const elem = elems[i];
            const timeText = elem.innerHTML;
            const [newTime, curFormat] = getNewFormat(timeText, elem.dataset.timeformat);
            elem.innerHTML = newTime;
            elem.dataset.timeformat = curFormat;
        }
    }

    function getNewFormat(timeString, curFormat) {
        /*
        If curFormat is 12hr -> change to 24hr and vice versa
         */
        const re = /(\d?\d:\d\d)(am|pm|AM|PM)?( \(next day\))?/;
        const parsed = timeString.match(re);
        if (parsed) {
            const hourMinArray = parsed[1].split(":");
            let hour = parseInt(hourMinArray[0]);
            let postfix = "";

            if (parsed[2] || curFormat === "12hr") {
                if (parsed[2] && parsed[2].toLowerCase() === "pm") {
                    if (hour !== 12)
                        hour += 12;
                }
                curFormat = "24hr";
            }
            else if (curFormat === "24hr") {
                if (hour === 24) {
                    hour = 0;
                    postfix = "am";
                }
                else if (hour === 12)
                    postfix = "pm";
                else if (hour > 12) {
                    hour -= 12;
                    postfix = "pm";
                }
                else
                    postfix = "am";
                curFormat = "12hr";
            }
            const hourString = hour.toString().padStart(2, '0');
	    let finalHourString = hourString + ":" + hourMinArray[1] + postfix; 
	    if (parsed[3])
		finalHourString += parsed[3];
            return [finalHourString, curFormat];
        }
        return [timeString, curFormat];
    }

    /*
    Convert date time string into a format accepted by Date object
     */
    function reformatTimeString(timeString, dateString) {
        const re = /(\d?\d:\d\d)(am|pm|AM|PM)?( \(next day\))?/;
        const parsed = timeString.match(re);
        if (parsed) {
            const hourMinArray = parsed[1].split(":");
            let hour = parseInt(hourMinArray[0]);
            if (parsed[2]) {
                if (parsed[2].toLowerCase() === "pm") {
                    if (hour !== 12)
                        hour += 12;
                }
            }
            const hourString = hour.toString().padStart(2, '0');
            if (dateString)
                return dateString + "T" + hourString + ":" + hourMinArray[1];
            else
                return "2020-04-13T" + hourString + ":" + hourMinArray[1];
        }
        else
            return null
    }
    function getValidTimezone(timezone) {
        let validTimezone = "";
        let offset = "";
        switch (timezone) {
            case 'PDT':
                validTimezone = "Etc/GMT+7";/*"Canada/Mountain";*/
                offset = "-07:00";
                break;
            case 'EDT':
                validTimezone = "Etc/GMT+4";/* "America/New_York";*/
                offset = "-04:00";
                break;
            case 'PST':
                validTimezone = "Etc/GMT+8";/*"Pacific/Pitcairn";*/
                offset = "-08:00";
                break;
            case 'EST':
                validTimezone = "Etc/GMT+5";/*"America/New_York";*/
                offset = "-05:00";
                break;
            case 'CEST':
                validTimezone = "Etc/GMT-1";/*"Europe/Amsterdam";*/
                offset = "+01:00";
                break;
            case 'CST':
                validTimezone = "Etc/GMT-8";/*"Asia/Hong_Kong";*/
                offset = "+08:00";
                break;
            case 'MST':
                validTimezone = "Etc/GMT+7";/*"America/Denver";*/
                offset = "-07:00";
                break;
            case 'BST':
                validTimezone = "GMT";/*"Europe/London";*/
                offset = "+00:00";
                break;
            case 'IST':
                validTimezone = "Asia/Kolkata";
                offset = "+05:30";
                break;
            case 'JST':
                validTimezone = "Etc/GMT-9";/*"Asia/Tokyo";*/
                offset = "+09:00";
                break;
            case 'KST':
                validTimezone = "Etc/GMT-9";/*"Asia/Seoul";*/
                offset = "+09:00";
                break;
            case 'AEST':
                validTimezone = "Etc/GMT-10";/*"Australia/Brisbane";*/
                offset = "+10:00";
                break;    
            case 'HST':
                validTimezone = "Etc/GMT+10";/*"Pacific/Honolulu";*/
                offset = "-10:00";
                break;    
        }
        return [validTimezone, offset];
    }
</script>
